/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
}

/* Cabeçalho */
#cabecalho {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 5px solid #ff0000;
}

#cabecalho .logo {
    display: flex;
    align-items: center;
}

#cabecalho .logo img {
    width: 50px;
    margin-right: 10px;
}

#cabecalho h1 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 28px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff0000;
}

/* Seção Início */
#inicio{
    background-image: url('Banner.png');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}



/* Seção Títulos */
#titulos {
    padding: 50px;
    background-color: #fff;
    text-align: center;
}

#titulos h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.campeonatos {
    display: flex;
    justify-content: space-around;
}

.titulo-item {
    width: 300px;
}

.titulo-item img {
    width: 100%;
    border-radius: 10px;
}

.titulo-item p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

/* Seção História */
#historia {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
}

#historia h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#historia p {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}

/* Seção Estádio */
#estadio {
    padding: 50px;
    background-color: #fff;
    text-align: center;
}

#estadio h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#estadio img {
    width: 60%;
    border-radius: 10px;
    margin-top: 20px;
}

#estadio p {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}

/* Seção Jogadores Favoritos*/
#jogadoresFavoritos {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
}

#jogadoresFavoritos h2{
font-size: 36px;
margin-bottom: 30px;
}

.jogadores {
    display: flex;
    justify-content: space-around;
}

.jogador {
    text-align: center;
}

.jogador img {
    width: 160px;
    height: 200px;
}

.jogador p {
    font-size: 18px;
    margin-top: 10px;
}

/* Seção dos Botões */
#botoes {
    text-align: center;
    padding: 50px;
    background-color: #fff;
}

#botoes h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.botao {
    background-color: #ff0000;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: #d00000;
}
